@import url('https://fonts.googleapis.com/css2?family=Overpass:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Chivo:ital,wght@0,100..900;1,100..900&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family:"Overpass" , sans-serif;
}
:root{
    --primary-color-1:#e3eefe;
    --primary-color-2:#037bfc;
     --primary-color-3:#ffffff;
    --links-color:#18304b;
    --links-color-2:#b8babc;
    --links--color-3:#556666;
    --wavy-text:#18304b;
    --balls-text:#007aff;
    --secondary-color-1:rgb(234,238,255);
    --secondary-color-2:#fddecf;
    --secondary-color-3:#f37e43;
    --secondary-color-4:#d1e3ff;
    --secondary-color-5:#4398f3;
    --secondary-color:#fafdfb;
    --secondary-color-6:#47bd90;
    --secondary-color-7:#7076f6;
    --secondary-color-8:#f5f2fe;
    --secondary-color-9:#f086da;
    --secondary-color-10:#fef3f7;
    --secondary-color-11:#3aa1f6;
    --secondary-color-12:#f7f9fc;
    --secondary-color-13:#0dab78;
    --secondary-color-14:#f27e42;

    -font-size-0:60px;
    --font-size-1:50px;
    --font-size:45px;
    --font-size-2:30px;
    --font-size-3:25px;
    --font-size-4:20px;
    --font-size-5:19px;

    --spacing-1:50px;
    --spacing-2:40px;
    --spacing-3:30px;
    --spacing-4:20px;
    --spacing-5:18px;
}

.mobile-menu{
    width: 95%;
    position: fixed;
    top: 100px;
    left: 20px;
    background-color: rgb(136, 136, 136);
    height: 0;
    color: white;
    overflow: hidden;
    transition: all 400ms ease;
    display: flex; 
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 10px;
    transition: all 0.4s ease-out;
    transform: translateX(-10px);
    flex-direction: column;
}
.mobile-menu>a{
    font-size: 18px;
    line-height: 27px;
    text-align: left;
    color: rgb(51, 49, 57);
    font-family: "Jost", sans-serif;
    font-weight: 100px;
    text-decoration: none;
}
.mobile-menu>a:hover{
    border-bottom: 2px solid #FF4C8E;
    color: #FF4C8E;
    transition: all 0.4s ease-out;
    transform: translateX(-10px);

}
.open-menu{
    height: 50vh;
}

/* Navigation Bar */
nav{
    display: flex;
    width: 100%;
    height: 10vh;
    gap: 60px;
    background-image: url(images/h1_hero.jpg.webp);
}


ul{
    display: flex;
    gap: 35px;
    list-style-type: none;
    margin-left: 70px;
}
ul li a{
    text-decoration:none;
    color: #18304b;
    font-weight:bolder;
    font-size: var(--font-size-4);
}
ul li a:hover{
    color: var(--balls-text);
    border-bottom: 2px solid var(--primary-color-2);
    transition: linear .5s ease-in-out 2s;
}
.blog__submenu:hover{
  .submenu{ 
    position: absolute;
    width: 170px;
    background: #E1EEFF;
    left: 0;
    top: 120%;
    display: block;
    visibility: hidden;
    opacity: 0;
    box-shadow: 0 0 10px 3px rgba(0, 0, 0, 0.05);
    padding: 17px 0;
    -webkit-transition: all .3s ease-out 0s;
    -moz-transition: all .3s ease-out 0s;
    -ms-transition: all .3s ease-out 0s;
    -o-transition: all .3s ease-out 0s;
    transition: all .3s ease-out
  }
}
.submenu{
    position: absolute;
    width: 170px;
    background: #E1EEFF;
    left: 0;
    top: 120%;
    visibility: hidden;
    opacity: 0;
    box-shadow: 0 0 10px 3px rgba(0, 0, 0, 0.05);
    padding: 17px 0;
    -webkit-transition: all .3s ease-out 0s;
    -moz-transition: all .3s ease-out 0s;
    -ms-transition: all .3s ease-out 0s;
    -o-transition: all .3s ease-out 0s;
    transition: all .3s ease-out
}
.website__title{
    position: relative;
    top: 25px;
    margin-left: 110px;
}
.website__title__links{
    position: relative;
    top: 38px;
}
.checkbtn{
    font-size: var(--font-size-3);
    float: right;
    bottom: 15px;
    display: none;
 }
 #check{
     display: none;
 }
 .website__title__button img{
    color: var(--primary-color-2);

 }
button{
    width: 160px;
    height: 60px;
    border: 2px solid #ffffff;
    border-radius: 7px;
    background-color: var(--primary-color-3);
    color: var(--balls-text);
    font-size: var(--font-size-4);
    font-weight: bolder;
    font-family: Arial, Helvetica, sans-serif;
    position: relative;
    top: 15px;
    left: 560px;
}
/* home */
.hero{
    background-image: url(images/h1_hero.jpg.webp);
}
    
.hero__details{
    font-weight: bolder;
    font-size: var(--font-size-1);
    margin-left: 80px;
    position: relative;
    top: 250px;
    display: flex;
    justify-content: space-between;

}
 .hero__odd__color{
    color: var(--balls-text);
    position: relative;
    left: 200px;
    bottom: 126px;
} 
.hero__button__input__location__container{
    width: 600px;
    height: 70px;
    background-color: var(--primary-color-3);
    box-shadow: 10px 10px 20px rgba(0,0,0,0.5);
    border-radius: 7px;
    display: flex;
    gap: 13px;
    padding: 11px 0px;
}
.hero__button__input__location__container span{
    opacity: 0.4;
    position: relative;
    bottom: 8px;
    margin-left: 15px;
    }
.hero__input{
    width: 210px;
    height: 50px;
    background-color: var(--primary-color-3);
    position: relative;
    left:14px;
    border: 1px solid var(--primary-color-3);
    font-family: "Chivo";
    font-size: var(--font-size-5);
}
.hero__location{
    height: 50px;
    width: 180px;
    border: 1px solid var(--primary-color-3);
    font-family: "Chivo";
    font-size: var(--font-size-5);
}
.hero__button{
    width: 140px;
    height: 70px;
    background-color: var(--primary-color-2);
    color: var(--primary-color-3);
    font-size: var(--font-size-5);
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    position: relative;
    left: 0px;
    top: -11px;
}

#image__hero{
    position: relative;
    bottom: 250px;
}
.checkbtn{
   font-size: var(--font-size-3);
   float: right;
   position: relative;
   left: 900px;
   line-height: 80px;
}
#check{
    display: none;
}
/* Jobs */
.heading-text{
        font-size: var(--font-size);
        color: var(--links-color);
        text-align: center;
        display: block;
        font-weight: 700;
        line-height: 1.3;
        letter-spacing: -.04em;
        margin-bottom: 12px;
    }
.subtitle-text{
    color: var(--primary-color-2);
    font-size: var(--font-size-6);
}
.heading__container{
    text-align: center;
}
#job__links {
    justify-content: center;
    list-style-type: none;
    display: flex;
    gap: 40px;
}

#job__links li a{
    color: var(--links-color-2);
    text-decoration: none;
    font-size: var(--font-size-4);
    font-weight: bold;
    font-family: "Chivo";
}
#job__links li a:hover{
    border-bottom: 1px solid var(--balls-text)
}
.job__links__line{
    width: 1230px;
    height: 1px;
    background-color: var(--links-color-2);
    opacity: 0.5;
    margin-left: 200px;
}
.jobs__card{
    width: 30%;
    height: 35vh;
    background-color:var(--primary-color-3);
    box-shadow:2px 4px 8px rgba(0,0,0,0.1);
    border-radius: 2px;
    padding: 30px 20px 30px 20px;
    margin-left: 50px;
}
.jobs__card:hover{
    border: 1px solid var(--primary-color-2);
}
.jobs__card__title{
    width: 150px;
    height: 38px;
    background-color: var(--secondary-color-2);
    border-radius: 15px;
    color: var(--secondary-color-3);
    padding: 8px;
    text-align: center;
    font-size: var(--font-size-4);
    margin-left: 20px;
}
.jobs__card__title1{
    width: 230px;
    height: 43px;
    background-color: var(--secondary-color-4);
    border-radius: 15px;
    color: var(--secondary-color-5);
    padding: 8px;
    text-align: center;
    font-size: var(--font-size-4);
    margin-left: 20px;
}
.jobs__card__title2{
    width: 150px;
    height: 38px;
    background-color: var(--secondary-color);
    border-radius: 15px;
    color: var(--secondary-color-6);
    padding: 8px;
    text-align: center;
    font-size: var(--font-size-4);
    margin-left: 20px;
}
.jobs__card__title3{
    width: 150px;
    height: 38px;
    background-color: var(--secondary-color-8);
    border-radius: 15px;
    color: var(--secondary-color-7);
    padding: 8px;
    text-align: center;
    font-size: var(--font-size-4);
    margin-left: 20px;
}
.jobs__card__title4{
    width: 150px;
    height: 38px;
    background-color: var(--secondary-color-8);
    border-radius: 15px;
    color: var(--secondary-color-9);
    padding: 8px;
    text-align: center;
    font-size: var(--font-size-4);
    margin-left: 20px;
}
.jobs__card__title5{ 
    width: 230px;
    height: 38px;
    background-color: var(--secondary-color-4);
    border-radius: 15px;
    color: var(--secondary-color-5);
    padding: 8px;
    text-align: center;
    font-size: var(--font-size-4);
    margin-left: 20px;
}
.jobs__card__details{
    font-size: var(--font-size-3);
    margin-left: 25px;
}
.jobs__card__details h4:hover{
    color: var(--primary-color-2);
}
.jobs__location__and__time{
    display: flex;
    gap: 20px;
    opacity: 0.3;
    font-size: medium;
}
.company-logo{
    display:flex;
    font-size: var(--font-size-4);
    font-weight: bold;
    position: relative;
    top: 39px;
}
.company-logo p{
    position: relative;
    top: 15px;
    font-family: Arial;
}
.jobs__card span{
    font-family: Arial;
    float: right;
    font-size: var(--font-size-4);
    opacity: 0.4;
    font-weight: bold;
}
.cards__container{
    display: flex;
}
button.jobs__button{
    font-family: Arial, Helvetica, sans-serif;
    width: 190px;
    height: 8vh;
    background-color: var(--primary-color-2);
    color: var(--primary-color-3);
    border-radius: 6px;
    margin-left: 250px;
}
/* About */
 .about__container{
    width: 100%;
    height: 110vh;
    background-color: var(--secondary-color-12);

    
 }
 .about__image{
    margin-left: 30px;
    position: relative;
    top:160px;
    
 }
.about__details{
    display: flex;
    flex-direction: column;
    margin-left: 920px;
    position: relative;
    bottom: 390px;
}
.about__details h4{
    font-size: var(--font-size);
    font-family: "OverPass";
    color: var(--links-color);
    display: block;
    font-weight: 700;
    line-height: 1.3;
    letter-spacing: -.04em;
    margin-bottom: 12px;
}
.about__details p{
    font-size: var(--font-size-4);
    font-family: "Chivo",sans-serif;
    color: var(--links-color-2);
    display: block;
    font-weight: 600;
    line-height: 1.3;
    letter-spacing: -.04em;
    margin-bottom: 12px;
}
.about__card{
    width: 320px;
    height: 26vh;
    background-color:var(--primary-color-3);
    color: var(--links-color-2);
    font-size: var(--font-size-4);
    font-family: "Chivo";
    text-align: center;
}
.about__card h5{
    font-family:"Chivo";
    font-weight: 300;
}
.cards-container{
    display: flex;
    gap: 30px;
    position: relative;
    bottom: 340px;
    margin-left: 210px;
}


/* Payment Plans */
.payment__plans h4{
    font-family: "Chivo" ,sans-serif;
    font-size: var(--font-size-5);
    color: var(--links-color-2);
    line-height: 1.3;
    letter-spacing: -.04em;
    margin-bottom: 12px;
    text-align: center;
}

.payment__plans__card{
    width: 350px;
    height: 45vh;
    background-color: var(--primary-color-3);
    box-shadow: 10px 10px 20px rgba(0,0,0,0.1);
    padding: 7px 31px;
    border-radius: 8px;
}
.plans__heading__card{
    font-size: var(--font-size-3);
    text-align: center;
    
}
.plans__card__title{
    text-align: center;
    font-family: "Chivo" ,sans-serif;
    font-size: var(--font-size-2);
    color: var(--secondary-color-13);
}
.plans__card__title2{
    text-align: center;
    font-family: "Chivo";
    font-size: var(--font-size-2);
    color: var(--secondary-color-14);
}
.plans__card__title3{
    text-align: center;
    font-family: "Chivo";
    font-size: var(--font-size-2);
    color: var(--primary-color-2);
}
.plans__card__subtitle{
    text-align: center;
    font-style: italic;
    color: var(--links-color-2);
}
.plans__details__text{
    font-family: "Chivo";
    font-size: var(--font-size-5);
    color: var(--links-color-2);
    text-align: center;
}
.plans__details__button{
    width: 180px;
    height: 60px;
    background-color: var(--primary-color-3);
    color: var(--primary-color-2);
    border: 1px solid var(--primary-color-2);
    border-radius: 4px;
    font-size: var(--font-size-4);
    font-weight: bold;
    margin-left: 60px;
    
}
.plans__details__button:hover{
    background-color: var(--primary-color-2);
    color: var(--primary-color-3);
    
}
.plans__cards__container{
    display: flex;
    justify-content: center;
    gap: 22px;
}
/* Our Difference */
.difference__container{
    width: 100%;
    height: 85vh;
    background-color: var(--secondary-color-12);
}
.difference__details__container{
    display: flex;
    justify-content: space-between;
}
.difference__details__icons{
    display: flex;
    gap: 12px;
}
.difference__text__details{
    position: relative;
    top:150px;
    margin-left: 50px;
}
.difference-heading-text{
    font-size: var(--font-size);
    color: var(--links-color);
    
}
.difference__subtitle__text{
    color: var(--links-color-2);
    font-size: var(--font-size-4);
}
.difference__details__text{
    color: var(--links-color-2);
    font-size: var(--font-size-4);
    font-family: "Chivo";
}

/* Subscribing to our newsletter */
.subscriber__headings{
    text-align: center;
}
.subscriber__headings p{
    font-family: "Chivo";
    color: var(--links-color-2);
    font-size: var(--font-size-5);
}
.subscriber__input{
    width: 660px;
    height: 72px;
    font-size: var(--font-size-5);
    background-color: var(--secondary-color-12);
    border: 2px solid var(--secondary-color-12);
    padding: 15px 24px 15px 67px;
    border-radius: 5px;
}
.subscribe__button{
    width: 150px;
    height: 62px;
    background-color: var(--balls-text);
    color: var(--primary-color-3);
    font-size: var(--font-size-4);
    font-weight: 500;
    border: 0px;
    border-radius: 5px;
    margin-left: 5px;
}
/* Start Building */
.box__container{
    width: 100%;
    height: 15vh;
    background-color: var(--primary-color-2);
    color: var(--primary-color-3);
    padding: 24px 45px;
}
.box__details__heading__container{
  font-size: var(--font-size); 
  position: relative;
  top: 25px;
}
.box__button{
    background-color: var(--primary-color-2);
    color: var(--primary-color-3);
    border: 1px solid var(--primary-color-3);
    font-weight: 500;
}
.box__button:hover{
    background-color: var(--primary-color-3);
    color: var(--primary-color-2);
}
.box__details__container{
display: flex;
}
/* footers */
.first__footer{
    color: var(--links-color-2);
    font-size: var(--font-size-5);
    font-family: "Chivo";
    font-weight: 500;
}
.footer__button{
    width: 180px;
    height: 60px;
    font-family: "Chivo";
    background-color: var(--primary-color-3);
    color: var(--primary-color-2);
    border: 1px solid var(--primary-color-2);
    border-radius: 4px;
    font-size: var(--font-size-4);
    font-weight: lighter;
}
.footer__button:hover{
    background-color: var(--primary-color-2);
    color: var(--primary-color-3);
}
.first__footer__container{
    margin-left: 40px;
}
.second__footer__container h4{
    font-size: var(--font-size-4);
    color: var(--links-color);   
}
.second__footer__container span{
    color: var(--links--color-3);
    font-size: var(--font-size-5);
    font-weight: 400;
}
.second__footer__container span:hover{
    border-bottom: 2px solid var(--primary-color-2);
}
.footers__containers{
    display: flex;
    gap: 140px;
}
.footer__line{
    width: 1470px;
    height: 1px;
    background-color: var(--links-color-2);
    opacity: 0.5;
    margin-left: 60px;
}
.footer__text{
    color: var(--links--color-3);
    font-size: var(--font-size-5);
    margin-left: 60px;
}
.footer__odd__text{
    color: var(--primary-color-2);
    font-size: var(--font-size-5);
}
.footer__text__container{
    display: flex;
    gap: 6px;
}
.footer__text i{
    color: var(--primary-color-2);
}
.footer__social__media__icons{
  display: flex;
  gap: 17px;
}
.footer__social__media__icons img:hover{
    color: var(--primary-color-2);
}
.footer__text__details{
    display: flex;
    gap: 780px;
}




/* Responsiveness(Media Queries) */
@media(max-width:600px){
    /* Navigation Bar */
    .checkbtn{
        display: block;
        left: 20%;
        
    }
   
    button{
        position: relative;
        left: -10px;
    }
    .website__title__links ul li{
         margin: 10px 0;
    }
    nav ul li a{
font-size:medium;
    }
    /* home */
    #image__hero{
        display: none;
    }
    .hero{
        background-color: var(--primary-color-1);
        width: 100%;
        height: 70vh;
    }
    .hero__details{
        font-size: var(--font-size-2);
        font-weight: 210;
    }
    .hero__details h4{
      position: relative;
      bottom: 140px;
    }
    .hero__odd__color{
        position: relative;
        bottom: 67px;
        left: 126px;
    }
    .hero__button__input__location__container{
        display: flex;
        flex-direction: column;
        position: relative;
        bottom: 57px;
        gap: 35px;
        width: 0px;
        height: 0vh;
        box-shadow: none;
    }
    .hero__button__input__location__container img{
        display: none;;
    }
    .hero__input{
        padding: 16px 7px;
        width: 613px;   
        position: relative;
        left: 3px;
    }
    .hero__location{
        width: 613px;
        padding: 10px 7px;
    }
    .hero__button{
        padding: 20px 8px;
        width: 613px;
        border: 2px solid var(--balls-text);
    }
    /* Jobs */
    .job__links__line{
        margin-left: 0px;
        width: 100%;
    }
    .heading__container h4{
        font-size: var(--font-size-3);
    }
    .cards__container{
        display:flex;
        flex-direction: column;
        justify-content: left;
        margin-left: 0px;
        gap: 6px;
    }
    .jobs__card{
        width: 100%;
        margin-left: 0px;
    }
    button.jobs__button{
      position: relative;
      right: 20px;
    }
    /* about */
    .about__image{
        display: none;
    }
    .about__details{
        margin-left: 0px;
        position: relative;
        top: 50px;
    }
    .cards-container{
        position: relative;
        top: 40px;
        justify-content: center;
        display: flex;
        flex-direction: column;
    }
    .about__card{
        width: 300px;
    }
    
    /* Payment__plans */
    .plans__cards__container{
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .payment__plans__card{
        width: 100%;
    }
    .plans__details__button{
        position: relative;
        left: 100px;
    }
    .payment__plans h3{
        font-size: var(--font-size-2);
        text-align: left;
    }
    .payment__plans h4{
        font-size: medium;
        text-align: left;
    }
    /* Our Diffrence */
    .difference__container{
        height: 160vh;
    }
    .difference__image{
        display: none;
    }
    .difference__details__container{
        position: relative;
        bottom: 128px;
    }
    .difference-heading-text{
        font-size: var(--font-size-3);
    }
    .difference__details__icons{
        display: flex;
        flex-direction: column;
    }
    
    /*Subscribing to our newsletter  */
    .subscriber__headings h4{
        font-size: var(--font-size-2);
        text-align: left;
    }
    .subscriber__headings p{
        font-size: medium;
    }
    .subscriber__input{
      margin-left: 0px;
      width: 100%;
    }
    .subscribe__button{
        width: 100%;
        height: 7vh;
    }
    /* Start Building Box */
    .box__button{
        border: 1px solid var(--primary-color-3);
        margin-left: 13px;
    }
    .box__container{
        padding:auto;
        width: 100%;
        height: 200px;
    }

    /* footers */
    .first__footer__container{
        margin-left: 0px;
    }
    .footers__containers{
        display: flex;
        flex-direction: column;
        gap: 3px;
        margin-left: 8px;
    }
    .footer__line{
        width: 90%;
    }
    .footer__text__container{
        display: flex;
    }
    .footer__text{
        display: flex;
    }
    .footer__text__container{
        display: flex;
        flex-direction: column;
        
    }
    .footer__text__details{
        display: block;
        margin-left: 0px;
    }
    }
@media(max-width:767px){
    /* home */
    #image__hero{
        display: none;
    }
    .hero{
        background-color: var(--primary-color-1);
        width: 100%;
        height: 93vh;
    }
    .hero__details{
        font-size: xx-large;
        font-weight: bold;
    }
    .hero__odd__color{
        position: relative;
        left: 127px;
        bottom: 80px;
    }
    .hero__button__input__location__container{
        display: flex;
        flex-direction: column;
        gap: 25px;
        box-shadow: none;
        width: 0;
        height: 0;
        background-color: none;
    }
    .hero__button__input__location__container img{
        display: none;
    }
    .hero__input{
        padding: 16px 7px;
        width: 512px;
        height: 120px;
        position: relative;
        left: -74px;
    }
    .hero__location{
        width: 513px;
        padding: 10px 7px;
        position: relative;
        left: -74px;
    }
    .hero__button{
     padding: 20px 8px;
     width: 513px;
     position: relative;
     left: -74px;
     border: 2px solid var(--primary-color-2);   
    
    }
    /* Jobs */
    .heading__container h4{
     font-size: var(--font-size-2);
    }
    .cards__container{
        display: flex;
        flex-direction: column;
        gap: 7px;
    }
    .jobs__card{
        width: 100%;
        margin-left: 0px;
    }
    #job__links{
        display: flex;
        flex-wrap: wrap;
        padding-left: 0px;
        margin-bottom: 0px;
        list-style: none;
    }
    /* about */
    .about__image{
      display: none;
    }
    .about__details{
        position: relative;
        top: 100px;
        margin-left: 0px;
    }
    .about__card{
       width:300px; 
    }
    .cards-container{
        display: block;
        position: relative;
        top: 70px;
    }
    /* Payment__Plans */
    .plans__cards__container{
        display: flex;
        flex-direction: column;
        gap: 11px;
    }
    .payment__plans__card{
        width: 100%;
    }
    .plans__details__button{
        align-items: center;
    }
    /* Our Difference */
    .difference__container{
    height: fit-content;
    }
    .difference-heading-text{
        font-size: var(--font-size-3);
    }
    .difference__image{
        height: fit-content;
        position: relative;
        top: 73px;
    }
    .difference__subtitle__text{
        font-size: var(--font-size-5);
    }
    .difference__details__container{
        display: flex;
        flex-direction: column;
        position: relative;
        bottom: 127px;
    }
    /* Subscribing to Our NewsLetter */
    .subscribe__button{
        width: 100%;
    }
    /*Start Building Box  */
    .box__container{
        padding:1px 6px;
        height: 25vh;
        width: 100%;
        background-color: var(--primary-color-2);
    }
    .box__details__container{
        display: flex;
        flex-direction: column;
    }
    .box__button{
    position: relative;
    left: auto;
    top: 20px;
    }
/* footers */
.first__footer__container{
 margin-left: 3px;
}
.footers__containers{
    display: flex;
    flex-direction: column;
    gap: 3px;
    margin-left: 13px;
}
.footer__line{
    width: 97%;
    margin-left: 3px;
}
.footer__text{
    display: flex;
}
.footer__text__container{
    display: flex;
    flex-direction: column;
}
.footer__text__details{
    display: block;
    margin-left: 0px;
}
}
@media(max-width:820px){
    /* home */
    #image__hero{
        display: none;
    }
    .hero__button__input__location__container{
        display: flex;
        flex-direction: column;
        gap: 25px;
        box-shadow: none;
        width: 0;
        height: 0;
        background-color: none;
    }
    /* Jobs */
    .heading__container h4{
        font-size: var(--font-size-2);
    }
    .cards__container{
        display: flex;
        flex-direction: column;
        gap: 7px;
    }
    .jobs__card{
        width: 100%;
        margin-left: 0px;
    }
    #job__links{
        display: flex;
        flex-wrap: wrap;
        padding-left: 0px;
        margin-bottom: 0px;
        list-style: none;
    }
    /* About */
.about__image{
    display: none;
}
.about__details{
    margin-left: 0px;
    position: relative;
    top: 120px;
}
.cards-container{
    display: block;
    position: relative;
    top: 20px;
}
/* Payment Plans */
.plans__cards__container{
    display:flex;
    flex-direction: column;
    gap: 11px;
}
.payment__plans__card{
    width: 100%;
    margin-left: 0px;
}
.plans__details__button{
    align-items: center;
}
/* Start Building */
.box__container{
    padding:1px 6px;
    height: 25vh;
    width: 100%;
    background-color: var(--primary-color-2);
}
.box__details__container{
    display: flex;
    flex-direction: column;
}
.box__button{
    position: relative;
    left: auto;
    top: 20px;
}
/* Our Difference */
.difference__container{
height: fit-content;
}
.difference-heading-text{
    font-size: var(--font-size-3);
}
.difference__image{
    height: fit-content;
}
.difference__details__icons{
    display: flex;
    flex-direction: column;
}
.difference__subtitle__text{
    font-size: var(--font-size-5);
}
.difference__details__container{
    display: flex;
    flex-direction: column;
}
/* Our Footer */
.first__footer__container{
    margin-left: 3px;
}
.footers__containers{
    display: flex;
    flex-direction: column;
    gap: 7px;
}
.footer__line{
    width: 97%;
    margin-left: 3px;
}
.footer__text{
    display: flex;
}
.footer__text__container{
    display: flex;
    flex-direction: column;
}
.footer__text__details{
    display: block;
    margin-left: 0px;
}
}
@media(max-width:967px){

}
